*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(131, 128, 128, 0.842);
}

h1{
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
}

.container > span{
    padding: 20px;
    font-size: 20px;
}

#minus, #plus{
    background-color: rgb(187, 187, 15);
    border: 2px solid yellow;
    padding:20px;
}


