*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{background-color: lightgray;}

table{
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

thead tr th{
    padding: 0px 10px 10px 10px;
}

table tr:first-child  td{
    color:purple;
    font-weight: bolder;
}

td{padding: 10px;}

tr:nth-child(odd) td:first-child{
    background-color: lightgreen;
}

tr:nth-child(even) td:first-child{
    background-color: rgba(104, 163, 160, 0.39);
}

tr:nth-child(odd) td:nth-child(2){
    background-color: rgb(114, 189, 114);
}

tr:nth-child(even) td:nth-child(2){
    background-color: rgba(114, 189, 114,0.39);
}

tr:nth-child(odd) td:nth-child(3){
    background-color: lightskyblue;
}

tr:nth-child(even) td:nth-child(3){
    background-color: rgba(135, 206, 250, 0.685);
}

tr:nth-child(odd) td:nth-child(4){
    background-color: rgba(202, 202, 84, 1);
}

tr:nth-child(even) td:nth-child(4){
    background-color: rgba(202, 202, 84, 0.74);
}

.check{color: green;}
.times{color:red;}

td a{text-decoration:none; color: white;}

tfoot tr:first-child td:nth-child(even), tfoot tr:first-child td:nth-child(odd){
    background-color: rgb(51, 5, 51);
    border-radius: 7px;
    text-align: center;
}

tbody tr:nth-child(2) td{
    color: green;
    line-height: 30px;
    font-size: 20px;
}