*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{background-color: lightgray;}

main{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#form1{
    display: inline-block;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 0px orange;
    border-radius: 5px;
    width: 20%;
    background-color: white;
}

form{display: inline;}

#top1{
    background-image: linear-gradient(196deg, rgba(217,34,102,0.7903536414565826) 0%, rgba(254,159,79,1) 51%, rgba(255,248,0,1) 100%);;
    color: white;
    font-weight: 700;
    text-align: center;
}

input{
    width: 70%;
    border: none;
    padding: 20px 20px 0px 0px;
    position: relative;
    left: 20px;
    border-bottom: 1px solid lightgray;
}

input:focus{
    outline: none;
    border-bottom: 1px solid skyblue;
}

form span{
    width: 100%;
    padding:10px 10px 0px 10px;
    color: gray;
    font-size: 12px;
}

#sp1{display:block;text-align: right;}
#sp2{width: 100%;}

#form1 form span a{
    color: black;
    text-decoration: none;
}

#login{
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(76, 68, 68);
    border-radius: 20px;
    border:none;
}

#login a{
    text-decoration: none;
    color: white;
}

#top1 span{
    display: block;
    padding: 20px 20px 10px 20px;
    font-size: 20px;
}

#form2{
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 20%;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgb(83, 83, 83);
}

input[type=checkbox]{
    width: unset;
}

#form2 form label{
    color: gray;
    font-size: 10px;
}

#form2 form label a{
    text-decoration: none;
    color: black;
}

#signup{
    background-color: rgb(228, 36, 100);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 10px 15px;
}

#signup a{
    text-decoration: none;
    color: white;
}

#form2 nav label{
    color: gray;
    font-size: 10px;
}

#form2 nav label a{
    text-decoration: none;
    color: black;
}

.top2{
    color: rgb(219, 97, 117); 
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}

#bottom1{
    text-align: center;
    font-size: 20px;
    color: white;
    width: 100%;
    background-color: rgb(83, 83, 83);
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    border: none;
}

#form3{
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 20%;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgb(83, 83, 83);
}

#form3 form span{
    display: block;
    text-align: right;
    color: skyblue;
}

#form3 form span a{
    text-decoration: none;
    color: skyblue;
}

#signin{
    display: block;
    width: 80%;
    margin: 0px auto;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(210deg, rgba(34,74,217,0.9864320728291317) 0%, rgba(79,150,254,1) 51%, rgba(0,206,255,1) 100%);
}

#signin a{
    text-decoration: none;
    color:white;
}

#form3 h6{
    font-weight: unset;
    text-align: center;
    font-size: 10px;
    padding: 10px;
}

#bottom2{
    text-align: center;
}

#bottom2 span i{
    margin: 0px 10px;
    padding: 0px 20px;
    color: #00ceff;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 1px 2px 3px 0px #00ceff;
}

@media (max-width:1386px){
    main{
        flex-direction: column;
        min-width: 700px;
    }

    #form1, #form2, #form3{
        margin: 0px auto;
        margin-bottom: 10px;
        width: 30%;
    }
}